.animate {
    animation-name: hero-bg-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    image-rendering: pixelated;
}

@keyframes hero-bg-animation {
    0% {
        background-position: var(--start-x) var(--start-y);
    }
  
    100% {
        background-position: var(--end-x) var(--end-y);
    }
  }